body{
    background-color: #262124;
} 


.emailForm{
    width: 500px;
    height: 800px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}


form h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

form *{
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form p {
    font-size: 22px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.copyButton{
    margin-top: 925px;
    margin-left: 600px;
    width: 22%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.copyButton:hover {
    background-color: #999999;
    color: white;
  }

.copy{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10%;
    box-shadow: none;
    background-color: #999999;
    color: white;
    border: none;
    margin: 5px;
    
}

.copy:hover{
    background-color: #999999;
    cursor: pointer;
}


.Copied{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10%;
    box-shadow: none;
    background-color: #999999;
    color: white;
    border: none;
    margin: 5px;
    
}

.Copied:hover{
    background-color: #999999;
    cursor: pointer;
}